* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body.guidelines * 
{
    border: 1px dashed white;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	.icon-header{
		color: white;
		background-color: none;
		padding: 0.5rem;
	}
	.text-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.item{
			padding: 0.3rem;
			color: rgb(65, 68, 153);
			font-size: 0.9rem;
		}
		.per-te{
			color: #fff;
			
		}
	}
}



/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	display: flex;
	flex-direction: column;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	.footer-1{
		font-size: 0.7rem;
		padding: 5px;
		display: flex;
		flex-direction: column;
		.name-profile{
			padding-bottom: 0.5rem;
		}
		
	}
	.footer-2{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		background-color: black;
		padding: 10px;
		.footer-item{
				display: flex;
				flex-direction: column;
				align-items: center;
				/*border: 0.5px dashed red;*/
					.bi{
						font-size: 1.2rem;
						}
					.item-text{
						font-size: 0.5rem;
						}
		}

		.footer-button{
			width: 32px;
			height: 25px;
			border-left: 2px solid rgb(43, 186, 226);
			border-right: 2px solid fuchsia;
			border-radius: 5px;
			div{
				font-size: 1rem;
			}
		}

	}
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	max-width: 44px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.sidebar-item-logo{
		margin:0.5rem;
		padding: 0.1rem;
		background-color: #fff;
		border-radius: 20px;
		display: flex;
		width: 80%;
		img{
			
			width: 100%;
			border-radius: 20px;
		}
	}

		.sidebar-item{
		
		margin:0.5rem;
		display: flex;
		flex-direction: column;
		text-align: center;
		color: white;
		 .logo1{
			font-size: 1.5rem;
		}
		.stats{
			font-size: 0.5rem;
		}


		
	}
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
